<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Détails de l'utilisateur : {{ user.firstname }} {{ user.lastname }}</h2>
<p><b>Nom d'utilisateur (pseudonyme) :</b>{{ user.username }}</p>
<p><b>Email de l'utilisateur : </b>{{ user.email }}</p>
<p><b>Titre du job de l'utilisateur : </b>{{ user.jobtitle }}</p>

<a href="/admin/users">Retour</a>
</body>
</html>